Repository isahohieku/weather-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, yarn prettier:fix

.lintstagedrc:

{
    "*.{ts,tsx}": [
      "yarn lint:fix"
    ],
    "*.{ts,tsx,json,scss,md}": [
      "yarn prettier:fix"
    ]
}

chore(unit-selector): Test cases
  .lintstagedrc
  src/App.scss
  src/App.test.tsx
  src/App.tsx
  src/atoms/toggle-switch/index.tsx
  src/index.tsx
  src/molecules/unit-selector/index.tsx
  src/setupTests.tsx
Due: yarn lint:fix, yarn prettier:fix

chore(husky): Fix prettier fix script
  .husky/pre-push
  src/logo.svg
Due: none

chore(App): Test cases for childrem components
  package.json
  src/App.test.tsx
  src/App.tsx
  src/organisms/detailed-weather-info/index.tsx
  src/organisms/main-weather-info/index.tsx
  src/organisms/search-bar/index.tsx
  tsconfig.json
Due: yarn lint:fix, yarn prettier:fix

feat(seachbar): Tested and then created
  .env_sample
  .gitignore
  package.json
  src/App.test.tsx
  src/App.tsx
  src/atoms/button/index.tsx
  src/atoms/input/index.tsx
  src/constants/index.ts
  src/index.scss
  src/libs/api/index.ts
  src/libs/api/types/index.ts
  src/libs/mock-data/weather.ts
  src/organisms/search-bar/index.test.tsx
  src/organisms/search-bar/index.tsx
  src/pages/weather/index.tsx
  yarn.lock
Due: yarn lint:fix, yarn prettier:fix

chore(Search): Search a location's weather
  __mock__/axios.ts
  package.json
  src/App.test.tsx
  src/App.tsx
  src/atoms/button/index.tsx
  src/atoms/input/index.tsx
  src/libs/api/index.ts
  src/libs/api/types/index.ts
  src/libs/mock-data/weather.ts
  src/organisms/search-bar/index.test.tsx
  src/organisms/search-bar/index.tsx
  src/services/weather/index.ts
  src/types/weather/index.ts
  src/utils/functions/index.ts
  yarn.lock
Due: yarn lint:fix, yarn prettier:fix

chore(*): Refactor Search bar feature
  __mock__/axios.ts
  package.json
  src/App.test.tsx
  src/App.tsx
  src/atoms/loader/index.tsx
  src/atoms/loader/styles.module.scss
  src/atoms/toggle-switch/index.tsx
  src/index.scss
  src/libs/api/index.ts
  src/libs/api/types/index.ts
  src/libs/mock-data/weather.ts
  src/molecules/error-message/index.tsx
  src/molecules/error-message/styles.module.scss
  src/molecules/search-bar/index.test.tsx
  src/molecules/search-bar/index.tsx
  src/molecules/search-bar/styles.module.scss
  src/molecules/unit-selector/index.tsx
  src/organisms/main-weather-info/index.tsx
  src/organisms/main-weather-info/styles.module.scss
  src/services/weather/index.ts
  src/utils/functions/index.ts
  yarn.lock
Due: yarn lint:fix, yarn prettier:fix

chore(*): Complete design of Main weather card
  src/App.tsx
  src/constants/index.ts
  src/libs/api/index.ts
  src/molecules/search-bar/styles.module.scss
  src/organisms/main-weather-info/index.tsx
  src/organisms/main-weather-info/styles.module.scss
Due: yarn lint:fix, yarn prettier:fix

chore(*): Completed detailed weather card
  package.json
  src/App.test.tsx
  src/App.tsx
  src/molecules/search-bar/index.test.tsx
  src/organisms/detailed-weather-info/index.tsx
  src/organisms/detailed-weather-info/styles.module.scss
  src/utils/functions/index.ts
Due: yarn lint:fix, yarn prettier:fix

chore(*): Added placeholder to Input component
  src/atoms/input/index.tsx
  src/molecules/search-bar/index.tsx
Due: yarn lint:fix, yarn prettier:fix

chore(*): Added icons based on weather conditions
  src/libs/mock-data/weather.ts
  src/organisms/main-weather-info/index.tsx
  src/types/weather/index.ts
Due: yarn lint:fix, yarn prettier:fix

chore(*): Remove irrelevant packages
  package.json
  yarn.lock
Due: yarn prettier:fix

chore(*): Refactor Public folder, added favicon
  package.json
  public/favicon.ico
  public/favicon.png
  public/index.html
  public/logo192.png
  public/logo512.png
  src/App.tsx
  src/atoms/button/index.tsx
  src/molecules/search-bar/index.tsx
  yarn.lock
Due: yarn lint:fix, yarn prettier:fix

chore(*): Added caching with React Query
  Weather App.fig
  src/App.test.tsx
  src/App.tsx
  src/pages/weather/index.tsx
  src/services/weather/index.ts
  src/store/react-query/index.ts
  src/utils/functions/index.ts
Due: yarn lint:fix, yarn prettier:fix

chore(*): Add epic user story file
  Epic - Weather App.docx
  ~$ic - Weather App.docx
Due: none

chore(*): Add github actions
  .env_sample
  .github/workflows/merge.yaml
  .github/workflows/pr.yaml
Due: none

chore(*): Removed deploy from PR workflow
  .github/workflows/pr.yaml
Due: none

bug: fix yarn.lock
  yarn.lock
Due: none

bug: Workaround yarn build CRA bug
  package.json
  yarn.lock
Due: yarn prettier:fix

chore(*): Update main Readme.md
  README.md
Due: yarn prettier:fix

test commit
  package.json
  src/pages/weather/index.tsx
  src/services/weather/index.ts
  ~$ic - Weather App.docx
Due: yarn lint:fix, yarn prettier:fix

create error
  src/services/weather/index.ts
Due: yarn lint:fix, yarn prettier:fix

chore(*): Massive refactor
  .github/workflows/pr.yaml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  package.json
  src/App.test.tsx
  src/App.tsx
  src/atoms/button/index.tsx
  src/hooks/index.ts
  src/hooks/useSearchWeather/index.tsx
  src/molecules/ErrorMessage/index.tsx
  src/molecules/ErrorMessage/styles.module.scss
  src/molecules/SearchBar/index.test.tsx
  src/molecules/SearchBar/index.tsx
  src/molecules/SearchBar/styles.module.scss
  src/organisms/DetailedWeatherInfo/index.tsx
  src/organisms/DetailedWeatherInfo/styles.module.scss
  src/organisms/MainWeatherInfo/index.tsx
  src/organisms/MainWeatherInfo/styles.module.scss
  src/pages/weather/index.tsx
  src/services/weather/index.ts
  src/types/index.ts
Due: yarn lint:fix, yarn prettier:fix

chore(Error message): Refactor text
  src/molecules/ErrorMessage/index.tsx
Due: yarn lint:fix, yarn prettier:fix

chore(*): Fix test coverages
  src/molecules/SearchBar/index.test.tsx
  yarn.lock
Due: yarn lint:fix, yarn prettier:fix

chore(PR): Refactor workflow
  .github/workflows/pr.yaml
Due: none

chore(*): Change directory name
  src/App.tsx
  src/pages/Weathers/index.tsx
Due: yarn lint:fix, yarn prettier:fix

chore(*): rename directories
  src/App.tsx
  src/molecules/SearchBar/index.test.tsx
  src/molecules/SearchBar/index.tsx
  src/pages/Weather/index.tsx
Due: yarn lint:fix, yarn prettier:fix

chore(*): Rename directories
  src/atoms/Button/index.tsx
  src/atoms/Input/index.tsx
  src/atoms/Loader/index.tsx
  src/atoms/Loader/styles.module.scss
Due: yarn lint:fix, yarn prettier:fix

chore(*): Rename Atoms
  src/molecules/SearchBar/index.test.tsx
  src/pages/Weather/index.tsx
Due: yarn lint:fix, yarn prettier:fix

chore(*): Fix missing components
  src/molecules/SearchBar/index.tsx
Due: yarn lint:fix, yarn prettier:fix

chore(Readme): Added netlify badge
  README.md
Due: yarn prettier:fix

chore(Workflow): Remove merge workflow
  .github/workflows/merge.yaml
Due: none

chore(tests): Refactor tests
  package.json
  src/App.test.tsx
  src/index.tsx
  src/molecules/SearchBar/index.test.tsx
  src/pages/Weather/index.tsx
  src/reportWebVitals.ts
  src/setupTests.tsx
  yarn.lock
Due: yarn lint:fix, yarn prettier:fix

chore(tests): Remove watch all
  package.json
Due: yarn prettier:fix

chore: configure build tools, linter, formatting, and vite migration
  .env_sample
  .eslintrc.json
  .github/workflows/pr.yaml
  .gitignore
  .lintstagedrc
  .prettierrc
  components.json
  index.html
  package-lock.json
  package.json
  postcss.config.js
  prettierignore
  src/react-app-env.d.ts
  src/vite-env.d.ts
  tailwind.config.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: yarn lint:fix, yarn prettier:fix

docs: update project documentation, design assets, and public metadata
  Epic - Weather App.docx
  README.md
  Weather App.fig
  public/favicon.png
  public/manifest.json
  public/robots.txt
  src/atoms/Readme.md
  src/molecules/README.md
  src/organisms/README.md
Due: yarn prettier:fix

style: migrate stylesheets from scss to tailwind-compatible css modules
  src/atoms/Loader/styles.module.css
  src/index.css
  src/index.scss
  src/molecules/ErrorMessage/styles.module.css
  src/molecules/SearchBar/styles.module.css
  src/molecules/SearchBar/styles.module.scss
  src/organisms/DetailedWeatherInfo/styles.module.css
  src/organisms/DetailedWeatherInfo/styles.module.scss
  src/organisms/MainWeatherInfo/styles.module.css
  src/organisms/MainWeatherInfo/styles.module.scss
  src/pages/Weather/styles.module.css
Due: yarn prettier:fix

feat: implement geolocation hook, weather services, and core api types
  src/constants/index.ts
  src/hooks/index.ts
  src/hooks/useGeolocation/index.ts
  src/hooks/useSearchWeather/index.tsx
  src/libs/api/index.ts
  src/libs/api/types/index.ts
  src/libs/mock-data/weather.ts
  src/services/weather/index.ts
  src/store/react-query/index.ts
  src/types/index.ts
  src/types/weather/index.ts
  src/utils/functions/index.ts
Due: yarn lint:fix, yarn prettier:fix

feat: update app components, view templates, and tests for new design system
  src/App.test.tsx
  src/App.tsx
  src/atoms/Button/index.tsx
  src/atoms/Input/index.tsx
  src/atoms/Loader/index.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/index.tsx
  src/lib/utils.ts
  src/molecules/ErrorMessage/index.tsx
  src/molecules/SearchBar/index.test.tsx
  src/molecules/SearchBar/index.tsx
  src/organisms/DetailedWeatherInfo/index.tsx
  src/organisms/MainWeatherInfo/index.tsx
  src/pages/Weather/index.tsx
  src/setupTests.tsx
Due: yarn lint:fix, yarn prettier:fix

test: add coverage tools and configuration
  package-lock.json
  package.json
  vite.config.ts
Due: yarn lint:fix, yarn prettier:fix
